.data-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.data{
  width: 50%;
  text-align: center;
}

.data-container button{
  width: 100px;
  height: 40px;
  background-color: rgb(43, 43, 43);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}